*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}
.top-container{
    width: 100%;
    height: 100vh;
    padding: 100px;
    background-color: #CAF7E3;
    position: relative;
}

h3{
    font-family: 'Montserrat', sans-serif;
}


.pro{
    text-decoration: underline;
}

.top-cloud{
    width: 200px;
    height: 70px;
    position: absolute;
    top: 2.5rem;
    right: 17%;
}
.my-name{
    /* width: 35rem;
    height: 10rem; */
    position: absolute;
    top: 18%;
    bottom: 0;left: 0;right: 0;
    margin: 0 auto;
    display: inline-block;
    text-align: center;

}

.my-name-h1{
    font-family: 'Sacramento', cursive;
    font-size: 5.62rem; /* 1em = 16px = 100% */
    color: #66BFBF;
    font-weight: normal;
    line-height: 6rem;
}
.cp{
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-weight: normal;
}

.bottom-cloud{
    width: 200px;
    height: 70px;
    position: absolute;
    top: 18.75rem;
    left: 17%;
}

.mountain{
    width: 55%;
    height: 400px;
    position: absolute;
    margin:0 auto;
    left: 0;
    right: 0;
    bottom: 0;
}

.profile{
    margin-top: 5rem;
    margin-bottom: 8rem;
}
.profile-img{
    /* width: 15.62rem;
    height: 15.62rem; */
    max-width: 15.62rem;
    height: auto;
    border-radius: 50%;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    /* box-shadow: 5px 5px 20px grey; */
}

.profile-img-heading{
    margin: 1rem 0;
    color: #1e836c;
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    font-family: "brandon-grotesque", "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.about-me{
    font-family: sans-serif;
    color: #66BFBF;
    font-size: 2.5rem;
    margin-top: 1.5rem;
}

.about-me-line{
    font-family: sans-serif;
    color: rgb(75, 72, 72);
    font-size: 1.3rem;
    font-family: 'Source Serif Pro', serif;
    font-weight: 800;
    word-spacing: 0.2rem;
}

.skills{
    margin-bottom: 6rem;
}
.skill-img-left{
    width: 10rem;
    height: 10rem;
    margin-right: 2rem;
    border-radius: 50%;
    display: inline-block;
}
.skill-img-right{
    width: 11rem;
    height: 11rem;
    margin-left: 2rem;
    border-radius: 50%;
    display: inline-block;
}

.skill-heading{
    margin: 3rem 0;
    color: #1e836c;
    text-align: center;
    font-size: 3.8em;
    font-weight: 400;
    font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;

}
.skill-row{
    width: 50%;
    margin: 2.5rem auto;
    display: flex;
}
.design-what{
    color: #1e836c;
    font-size: 1.5rem;
    margin: 12px 0;
}
.design-what-div{
    width: 35rem;
    line-height: 1.5;
    text-align: left;
}

.develop-what{
    color: #1e836c;
    font-size: 1.5rem;
    margin: 12px 0;
}

.design-what-text{
    color: rgb(75, 72, 72);
    font-size: 1.3rem;
    font-family: 'Source Serif Pro', serif;
    font-weight: 800;
    word-spacing: 0.2rem;
    line-height: 1.5;
}

.develop-what-text{
    color: rgb(75, 72, 72);
    font-size: 1.3rem;
    font-family: 'Source Serif Pro', serif;
    font-weight: 800;
    word-spacing: 0.2rem;
}

.contact-me{
    margin: 3rem 0;
}
.get-in-touch{
    margin: 2rem 0;
    color: #1e836c;
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.freelance-work{
    color: #1e836c;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2rem;
}

.freelance-work-text{
    color: rgb(75, 72, 72);
    font-size: 1.1rem;
    font-family: 'Source Serif Pro', serif;
    font-weight: 800;
    word-spacing: 0.2rem;
}

.contact-btn{
    width: 12rem;
    height: 2.5rem;
    margin: 3rem 0;
    text-decoration: none;
    background-color: #37ad92;
    border: none;
    border-radius: 8px;
}
.contact-btn:hover{
    background-color: #023b2e;
}
.contact-btn-ancor{
    text-decoration: none;
    color: white;
}
.contact-btn-ancor:hover{
    color: #1e836c;
}

.bottom-container{
    min-height: 10rem;
    background-color: #66BFBF;    
}

.social-media{
    display: flex;
    width: 32%;
    height: 6rem;
    align-items: center;
    margin: 1.7rem auto;
    flex-wrap: wrap;
}
.linkedIn-icon{
    width: 40px;
    height: 40px;
    margin: 0 1.7rem;
}
.GitHub-icon{
    width: 40px;
    height: 40px;
    margin: 0 1.7rem;

}

.CodeChef-icon{
    width: 40px;
    height: 40px;
    margin: 0 1.7rem;

}

.gfg-icon{
    width: 40px;
    height: 45px;
    margin: 0 1.7rem;

}
.HackerRank-icon{
    width: 40px;
    height: 45px;
    margin: 0 1.7rem;

}

hr{
    width: 5%;
    margin: auto;
    border-style: dotted;
    border-width: 4px 0 0 0;
    border-color: rgb(75, 72, 72);
}

 /* Styling for responsiveness from here */

 @media (max-width: 995px){
    .bottom-cloud{
        /* width: 200px;
        height: 70px; */
        position: absolute;
        top: 28rem;
        left: 14%;
    }
    .top-cloud{
        /* width: 200px;
        height: 70px; */
        position: absolute;
        top: 3.5rem;
        right: 17%;
    }
    .mountain{
        width: 80%;
        height: 35rem;
        position: absolute;
        margin:0 auto;
        left: 0;
        right: 0;
        bottom: 0;
    }
 }